textarea {
    resize: none;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 3px;
    margin-top: -0.5rem;
    overflow: hidden;
    min-height: 3rem;
}

hr {
    opacity: 0.5;
}

.Editor {
    padding: 0.5rem;
    box-sizing: border-box;

    grid-column: 1/2;
    grid-row: 3/4;
    background-color: var(--light);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.editor-input-line {
    position: relative;
    top: 4px;
    width: 100%;
    overflow:visible;
    box-sizing: border-box;
    padding: 0.25rem;
    font-size: 1.5rem;
    border: none;
    background-color: var(--light);
}

.editor-line-flex {
    display: flex;
    min-height: 3rem;
    padding-bottom: 0.125rem;
    align-items: flex-start;
    gap: 0.5rem;
    color: black;
}

.editor-line-number {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    text-align: right;
    width: 2rem;
    padding: 0.25rem;
    padding-right: 2rem;
    background-color: rgb(var(--accent-2),0.3);
    border-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    .editor-line-flex {
        color: white;
    }

    .editor-input-line {
        color: white;
    }
}