:root {
    --accent: 153, 217, 140;
    --accent-2: 22, 138, 173;
    --font: black;
}

body {
    background-color: white;
}

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
}

p {
    font-family: 'Nunito', sans-serif;
}


.App {
    height: 100vh;
    width: 100;

    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: auto auto 1fr;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}


@media only screen and (max-width: 800px) {
    header {
        padding: 0.25rem;
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    .App {
        grid-template-columns: 2fr 1fr;
    }

    .mobile {
        display: block;
    }
    
    .desktop {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --font: #F7FBE8;
    }

    body {
        background-color: rgb(37, 37, 37);
    }

    footer {
        background-color: rgb(22, 22, 22);
    }
}