:root {
	--bg-color: white; 
	--accent: 128, 237, 153;
	--accent-2: 87, 204, 153;
	--font: black;
	font-family: 'Nunito', sans-serif;
	color: var(--font);
}

.App {
    padding: 2rem;
	display: flex;
	justify-content: center;
	height: 100vh;
}

.wrapper {
    height: 100%;
	max-width: 960px;
    border: 2px solid black;
    border-radius: 1rem;
	overflow: hidden;
	background-color: aliceblue;

	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;

	box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

body {
	background-color: white;
}

* {
	padding: 0;
	margin: 0;
	font-size: 100%;
	box-sizing: border-box;
}

h2 {
	padding: 0.5rem;
	font-size: 1.75rem;
	text-align: center;
}

h3 {
	padding: 0.65rem;
	font-size: 1.25rem;
	text-align: left;
}

h4 {
	font-size: 1.1rem;
	font-style: italic;
	margin-top: 0.5rem;
}

p {
	font-family: 'Nunito', sans-serif;
	color: var(--font);
}

ul.help-list {
	list-style-position: inside;
}

code {
	padding: 0.2rem;
	margin: 0.3rem 0 0.3rem 0;
	background-color: rgba(100, 148, 237, 0.216);
	width: max-content;
	border-radius: 0.2rem;
}

button {
	font-size: 1.2rem;
	padding: 0.25rem 0.5rem;
	color: var(--font);
	background-color: rgb(var(--accent-2), 0.3);
	border: none;
	border-radius: 0.5rem;
}

button:hover {
	background-color: rgb(var(--accent-2), 0.5);
}

.mobile {
	display: none;
}

.desktop {
	display: block;
}

.fade-in {
	opacity: 1;
	transform: scaleY(1);
	transition: all 0.3s ease;
}

.fade-out {
	opacity: 0;
	transform: scaleY(0);
	transition: all 0.3s ease;
	pointer-events: none;
}

@media only screen and (max-width: 800px) {
	header {
		padding: 0.25rem;
		padding-left: 1rem;
		font-size: 1.5rem;
	}

	.App {
		padding: 0;
		width: 100%;
		height: 90vh;
	}

	.wrapper {
		width: 100%;
		height: 100%;
		border: none;
		border-radius: 0;


	}

	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}

	.fade-in {
		opacity: 1;
		transform: scaleY(1);
		transition: all 0.3s ease;
	}

	.fade-out {
		opacity: 0;
		transform: scaleY(1);
		transition: all 0.3s ease;
		pointer-events: none;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--font: #f7fbe8;
		--bg-color: rgb(37, 37, 37);
		--accent: 87, 204, 153;
		--accent-2: 56, 163, 165;
	}
	
	.wrapper {
		background-color: var(--bg-color);
		box-shadow: rgb(var(--accent-2), 0.2) 0px 10px 50px;
	}

	body {
		background-color: rgb(37, 37, 37);
	}

	footer {
		background-color: rgb(22, 22, 22);
	}
}
